env: dev
gcp2:
  enabled: true
sql:
  instance: ent-tiamat-dev:europe-west1:tiamat-db-1=tcp:5432

configMap:
  blobstoreProjectId: ent-tiamat-dev
  pubsubProjectId: ent-tiamat-dev
  pubsbuTopicName: ror.tiamat.changelog
  gcsBucketName: ror-tiamat-gcp2-dev

auth0:
  entur:
    internal:
      url: https://internal.dev.entur.org/
      audience: https://api.dev.entur.io,https://ror.api.dev.entur.io
    partner:
      url: https://partner.dev.entur.org/
      audience: https://ror.api.dev.entur.io,https://api.dev.entur.io
  client:
      id: Yd0qVrMoFE9qXT4zJvsTCOw6UT4Wi2WF
      url: https://internal.dev.entur.org/oauth/token
      audience: https://ror.api.dev.entur.io

organisation:
  service: http://baba.dev.entur.internal

roleAssignmentExtractor: baba

rbac:
  enabled: true

ingress:
  enabled: true
  domainName: .dev.entur.io