env: prd
gcp2:
  enabled: true
sql:
  instance: ent-tiamat-prd:europe-west1:tiamat-db-1=tcp:5432

configMap:
  blobstoreProjectId: ent-tiamat-prd
  pubsubProjectId: ent-tiamat-prd
  pubsbuTopicName: ror.tiamat.changelog
  gcsBucketName: ror-tiamat-gcp2-prd

auth0:
  entur:
    internal:
      url: https://internal.entur.org/
      audience: https://api.entur.io,https://ror.api.entur.io
    partner:
      url: https://partner.entur.org/
      audience: https://api.entur.io,https://ror.api.entur.io
  client:
    id: ga01hAU7XrM8cPOSuYXOocFoM8c1wB42
    url: https://internal.entur.org/oauth/token
    audience: https://ror.api.entur.io

organisation:
  service: http://baba.prd.entur.internal

roleAssignmentExtractor: baba

rbac:
  enabled: true

ingress:
  enabled: true
  domainName: .entur.io