apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: auth-internal-credentials
  labels: {{ $.Values.labels }}
  annotations:
    timestamp: {{ now | date "2006-01-02T15:04:05" }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: {{ $.Release.Namespace }}
  target:
    name: auth-internal-credentials
    creationPolicy: Owner
  data:
  - secretKey: SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_INTERNAL_CLIENT_SECRET
    remoteRef:
      key: MNG_AUTH0_INT_CLIENT_SECRET

---

